noderedflow.json
[{"id":"5cd4a1d9.d44a3","type":"tab","label":"AI News Search App","disabled":false,"info":"SmartInternz App"},{"id":"bf84c6d0.ee1418","type":"function","z":"5cd4a1d9.d44a3","name":"function1","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["62bf3997.9cdee8"]]},{"id":"57519a77.c3e244","type":"function","z":"5cd4a1d9.d44a3","name":"function2","func":"msg.h0 = msg.search_results.results[0].title;\nmsg.t0 = msg.search_results.results[0].text;\nmsg.s0 = \"sentiment : \" +msg.search_results.results[0].enriched_text.sentiment.document.score;\nmsg.h1 = msg.search_results.results[1].title;\nmsg.t1 = msg.search_results.results[1].text;\nmsg.s1 = \"sentiment : \" +msg.search_results.results[1].enriched_text.sentiment.document.score;\nmsg.h2 = msg.search_results.results[2].title;\nmsg.t2 = msg.search_results.results[2].text;\nmsg.s2 = \"sentiment : \" +msg.search_results.results[2].enriched_text.sentiment.document.score;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["932d9a1e.747db8","1481021a.d324ee"]]},{"id":"fe91382c.8990a8","type":"ui_form","z":"5cd4a1d9.d44a3","name":"","label":"","group":"48a926d.18a43d8","order":1,"width":"6","height":"6","options":[{"label":"Find articles about","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":440,"wires":[["bf84c6d0.ee1418"]]},{"id":"62bf3997.9cdee8","type":"watson-discovery-v1","z":"5cd4a1d9.d44a3","name":"news","environmentname":"","environmentId":"system","collectionId":"news","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/5006ac77-5f61-41b9-84aa-e849e4ef589b","x":370,"y":80,"wires":[["57519a77.c3e244","15a42bc9.583d24"]]},{"id":"932d9a1e.747db8","type":"debug","z":"5cd4a1d9.d44a3","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":80,"wires":[]},{"id":"15a42bc9.583d24","type":"function","z":"5cd4a1d9.d44a3","name":"function3","func":"msg.labels = [\"Article 1\",\"Article 2\",\"Article 3\"];\nmsg.data = [[msg.search_results.results[0].enriched_text.sentiment.document.score,\n        msg.search_results.results[1].enriched_text.sentiment.document.score,\n        msg.search_results.results[2].enriched_text.sentiment.document.score]];\nmsg.series = [\"Sentiment Score\"];\n\nreturn {payload:[msg],topic:msg.topic};","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["dd6f717.b03409","669a2700.352488"]]},{"id":"dd6f717.b03409","type":"debug","z":"5cd4a1d9.d44a3","name":"score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":460,"wires":[]},{"id":"1481021a.d324ee","type":"ui_text","z":"5cd4a1d9.d44a3","group":"48a926d.18a43d8","order":2,"width":"6","height":"7","name":"","label":"<B><h3>TOP NEWS ARTICLES FOR YOU</h3></B>","format":"<br><hr><br><u><i>{{msg.h0}}</i></u><br><br>{{msg.t0}}<br><br>{{msg.s0}}<br><hr><br><u><i>{{msg.h1}}</i></u><br><br>{{msg.t1}}<br><br>{{msg.s1}}<br><hr><br><u><i>{{msg.h2}}</i></u><br><br>{{msg.t2}}<br><br>{{msg.s2}}<br><hr><br><br><br><br>","layout":"col-center","x":980,"y":160,"wires":[]},{"id":"669a2700.352488","type":"ui_chart","z":"5cd4a1d9.d44a3","name":"","group":"48a926d.18a43d8","order":4,"width":0,"height":0,"label":"SENTIMENT ANALYSIS FOR ARTICLES","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"getting results","dot":false,"ymin":"-1","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d82784","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":360,"wires":[[]]},{"id":"48a926d.18a43d8","type":"ui_group","z":"","name":"News App","tab":"d358f316.3a802","order":1,"disp":true,"width":"6","collapse":false},{"id":"d358f316.3a802","type":"ui_tab","z":"","name":"IBM Watson","icon":"dashboard","disabled":false,"hidden":false}]